/node_modules
/out
/include
/garbage
/from-file-system
*.tsbuildinfo

*.code-workspace
sourcemap.json

/dist
/modules
/new_node_modules

/*.rbxlx.lock
/*.rbxl.lock
**/*.rbx[lm]*

flamework.build
.DS_Store

*:Zone.Identifier
